@font-face {
  font-family: "DancingScriptBold";
  src: url("../../../assets/fonts/DancingScript-Bold.ttf");
}

@font-face {
  font-family: "ComfortaaRegular";
  src: url("../../../assets/fonts/Comfortaa-Regular.ttf");
}

#game {
  max-width: 100%;
  padding: 40px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: #1d4e6c;
  font-family: "ComfortaaRegular", monospace;
}

#game > h1 {
  font-size: 5rem;
  color: #caa85f;
  font-family: "DancingScriptBold", monospace;
  text-shadow: 0px 2px 5px #000000;
}
#game > p {
  font-size: 1rem;
  color: #ffff;
  font-style: italic;
}

.game-container {
  width: 50%;
  min-width: 350px;
  min-height: 50%;
  padding: 40px;
  margin-top: 80px;
  background-color: #ffffff;
  box-shadow: 0px 0px 5px #000000;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.answer-label {
  font-weight: bold;
}

.example-spacer {
  flex: 1 1 auto;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 20px;
}

/* LOADING */
.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
