<section id="home">
  <h1>Trivial Pursuit</h1>
  <p>Show your skills and knowledge!</p>

  <ng-container *ngIf="isLoggedIn; else elseBlock">
    <p style="text-align: center; font-style: normal">
      Welcome back
      <strong>{{ user.username }}</strong
      ><br />
      in the last game you guessed
      <strong [ngStyle]="{ color: user.score < 6 ? '#ff3434' : '#46b336' }"
        >{{ user.score }} out of 10</strong
      > questions
      in the category
      <strong style="color: #caa85f">{{ user.categoryName }}</strong>
    </p>
    <div class="buttons-row">
      <button (click)="showUserForm()">New Game</button>
      <button (click)="tryAgain()">Try Again</button>
    </div>
  </ng-container>
  <ng-template #elseBlock>
    <div class="buttons-row">
      <button (click)="showUserForm()">Play</button>
    </div>
  </ng-template>

  <div class="fullscreen" *ngIf="useFormVisible">
    <div class="popUp">
      <div class="popUpCloser" (click)="hideUserForm()">X</div>

      <form  [formGroup]="newGameForm" (ngSubmit)="onSubmit()">
        <div class="form-row">
          <mat-form-field appearance="fill">
            <mat-label>Username</mat-label>
            <input
              matInput
              name="username"
              formControlName="username"
              minlength="4"
            />
          </mat-form-field>
        </div>
        <div class="form-row" style="padding-bottom: 20px">
          <label id="ifficulty-label">Choose your difficulty</label>
          <mat-radio-group
            aria-label="Select an option"
            aria-labelledby="difficulty-label"
            name="difficulty"
            formControlName="difficulty"
          >
            <mat-radio-button value="easy">Easy</mat-radio-button>
            <mat-radio-button value="medium">Medium</mat-radio-button>
            <mat-radio-button value="hard">Hard</mat-radio-button>
          </mat-radio-group>
        </div>
        <div class="form-row">
          <mat-form-field appearance="fill">
            <mat-label>Choose your category</mat-label>
            <mat-select formControlName="category" name="category">
              <mat-option
                *ngFor="let category of categoriesGames"
                value="{{ category.id }}"
                >{{ category.name }}</mat-option
              >
            </mat-select>
          </mat-form-field>
        </div>
        <button
          mat-raised-button
          color="primary"
          style="height: 50px"
          [disabled]="!newGameForm.valid"
        >
          PLAY
        </button>
      </form>
    </div>
  </div>
</section>
